@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {font-family: 'Noto Sans KR', sans-serif;}
/* body {font-family: 'Gowun Batang', 'Nanum Gothic', sans-serif; } */

* {margin: 0; padding: 0; box-sizing: border-box; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;}

input {
    color: inherit; 
    font-family: inherit; 
    letter-spacing: inherit; 
    appearance: none; 
    background: none; 
    border: 0; 
    box-shadow: none; 
    border-radius: 0; 
    padding: 0; 
    margin: 0;
    outline: none;
}

a {
    text-decoration: none; 
    color: inherit; 
    font-family: inherit; 
    letter-spacing: inherit; 
    cursor: pointer;
}

hr {
    margin: 0; 
    padding: 0;
}


 /* header 부분 */
 .fig-header,
 /* 중앙 부분*/
 .fig-main{
    max-width: 78%; /* 건들지 마세용 */
    padding-left: 16px; 
    padding-right: 16px; 
    margin: 0 auto;
  }
  
  .fig-main{
    padding-top: 30px;
    padding-bottom: 30px;
  }

.fig-nav{
    display: grid; 
    grid-template-columns: 1fr auto auto; 
    align-items: center; 
    padding: 16px 18px 8px 30px;
}

/* 로고 + 교환독서 탭 */
.fig-header-left {
    display: flex;
    align-items: center; 
    gap: 12px; 
}
.fig-one{
    display: inline-flex;
    width: fit-content;
    display: flex; 
    align-items: center; 
    gap: 0.5rem;
}

.fig-logo{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D7868;
    margin: 0; 
    font-size: 25px; 
}

.fig-exchangeimage {
    height: 20px; 
    margin-left: 20px; 
    position: relative;
}

@media (max-width: 767px) {
.exchangeimage :before {
    content: '';
    position: absolute;
    display: block;
    top: -8px;
    left: -8px;
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: transparent;
}
}

.fig-exchange-book{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D7868;
    margin: 0; 
    font-size: 17px; 
}

@media (max-width: 767px) {
.fig-exchange-book{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}
}

/* 검색바 */
.fig-searchform {
    position: absolute;
    left: 700px;
    width: 500px;
    display: flex;
    align-items: flex-start;
}

.fig-tabindex {
    flex: 1;
    min-width: 0;
}

.fig-formlabel {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    min-height: 40px;
    background: #f5f5f5;
    border-radius: 8px;
}
.fig-searchimage {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    color: #a5a5a5;
    fill: currentColor;
    display: inline-block;
}

.fig-instant {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.fig-forminput {
    flex: 1;
    width: 0;
    min-width: 0;
    height: 100%;
    font-size: 15px;
    line-height: 18px;
    color: #141414;
    caret-color: #2D7868;
}

/* 로그인 회원가입 */
.fig-join {
    display: flex;
    align-items: center;
    position: relative;
}

.fig-signup,
.fig-login {
    padding: 11px 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #2D7868;
}

/* header 구분선 */
.fig-hr{
    display: block;
    width: 100%;
    height: 1px;
    box-sizing: border-box;
    border: none;
    background: #f0f0f0;
    margin-top: 5px;
}
/* 여기까지 공통header 고정 */



/* 교환독서 메인페이지 */
.feed__content{
    /* border:1px solid black; */
    margin:0 auto;
    width:100%;
    height:100%;
    /* padding: 0 63px; */
}
/* 참여 중인 그룹 표시부분 */
.feed__join{
    padding: 20px 50px 25px;
    border: 1px solid #f0f0f0;
    border-radius: 7px;
    box-shadow: 0 4px 8px #f0f0f0;
}
.feed__join_title{
    margin-bottom: 20px;
    padding-left: 27px;
    font-size: 25px;
    font-weight: 700;
    color: #1a1a1a;
    align-items: center;
}
.feed__join_title #group_count {
    padding-left: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #A0A0A0;
}
.feed__join_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 참여 중인 그룹 1개씩 */
.feed__join_body_item{
    margin: 0 25px;
    width:118px;
    
}
.join_body_item_book{
    display: flex;
    width:118px;
    height:172px;
    object-fit: cover;
}
.join_body_item_book img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 4px 4px #797e8480;
}
.join_body_item_groupName{
    margin-top: 10px;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    color: #636363;
}

/* 꼬북꼬북 교환독서 그룹 List */
.feed__tabs{
    margin: 45px 0 40px;
    /* padding-left: 50px; */
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;            /* 세로 중앙정렬 원하면 */
}
.feed__tabs_title{
    padding-bottom: 5px;
    height: 45px;
    font-size: 35px;
    font-weight: 700;
    color: #1a1a1a;
    display: flex;
    align-items: center;
}
/* 그룹 목록 상단 검색창 */
.feed__tabs_search{
    display: flex;
    align-items: center;
    margin-left: -430px;
    padding: 15px;
    width: 500px;
    height: 45px;
    background: #f5f5f5;
    border-radius: 7px;
}
.feed__tabs_search i {
    width: 15px;
    height: 15px;
    color: #a5a5a5;
} 
.feed__tabs_search_input{
    border: none;
    outline: none;
    padding-left:11px;
    font-size: 15px;
    font-weight: 400;
}
/* 그룹 만들기 버튼 */
.feed__tabs_button{
    background-color: #2D7868;
    width:118px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #fafafa;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* 그룹 목록 */
.feed__preview{
    border-left: 2px solid #A0A0A0;
    padding-left: 20px;
    height:172px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between; /* 좌우로 벌어지게 */
    align-items: center;            /* 세로 중앙정렬 원하면 */
}
.feed__preview_text {
    height:100%;
    display: flex;
    flex-direction: column;           /* 세로 방향으로 정렬 */
    justify-content: space-between; /* 좌우로 벌어지게 */

}
.feed__preview_tags{
    font-size: 15px;
    font-weight: 400;
    color: #2F80ED;
    cursor: pointer;
}
.group_name{
    margin-bottom: 85px;
    font-size: 22px;
    font-weight: 700;
    color: #1a1a1a;
    align-items: center;
}
.group_leader{
    /* height:73.5px; */
    font-size: 13px;
    font-weight: 700;
    color: #636363;
    display: flex;
}
.group_leader img{
    margin-right:5px;
    width:20px;
    height:20px;
    border-radius: 20px;
}
.feed__preview_book{
    flex-shrink: 0; /* 이미지 영역 줄어들지 않게 */
    width:118px;
    height:172px;
    object-fit: cover;
}
.feed__preview_book img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 4px 4px #797e8480;
}

/* footer */

#footerWrap{    
    background-color: #444;
    color:white;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer{
    width:1500px;
    height:200px;
    display: flex;
    justify-content: center;
}

#totalReview{
    text-align: center;
}

#totalReview>h1{
    margin-bottom: 15px;
}