<style>
      body {font-family: 'Noto Sans KR', sans-serif;}

    * {margin: 0; padding: 0; box-sizing: border-box; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; list-style: none;}

    input {
      color: inherit; 
      font-family: inherit; 
      letter-spacing: inherit; 
      appearance: none; 
      background: none; 
      border: 0; 
      box-shadow: none; 
      border-radius: 0; 
      padding: 0; 
      margin: 0;
    }

    a {
      text-decoration: none; 
      color: inherit; 
      font-family: inherit; 
      letter-spacing: inherit; 
      cursor: pointer;
    }

    hr {
      margin: 0; 
      padding: 0;
    }

    /* header 부분 */
    .fig-header,
    /* 중앙 부분*/
    .fig-main{
      max-width: 78%; /* 건들지 마세용 */
      padding-left: 16px; 
      padding-right: 16px; 
      margin: 0 auto;
    }

    .fig-main{
      padding-top: 30px;
      margin-bottom:120px;
    }

    .fig-nav{
      display: grid; 
      grid-template-columns: 1fr auto auto; 
      align-items: center; 
      padding: 16px 18px 8px 30px;
    }

    /* 로고 + 교환독서 탭 */
    .fig-header-left {
      display: flex;
      align-items: center; 
      gap: 12px; 
    }
    .fig-one{
      display: inline-flex;
      width: fit-content;
      display: flex; 
      align-items: center; 
      gap: 0.5rem;
    }

    .fig-logo{
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2D7868;
      margin: 0; 
      font-size: 25px; 
    }

    .fig-exchangeimage {
      height: 20px; 
      margin-left: 20px; 
      position: relative;
    }

    @media (max-width: 767px) {
      .exchangeimage :before {
        content: '';
        position: absolute;
        display: block;
        top: -8px;
        left: -8px;
        width: 40px;
        height: 40px;
        z-index: 1;
        background-color: transparent;
      }
    }

    .fig-exchange-book{
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2D7868;
      margin: 0; 
      font-size: 17px; 
    }

    @media (max-width: 767px) {
      .fig-exchange-book{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0, 0, 0, 0);
      }
    }

    /* 검색바 */
    .fig-searchform {
      position: absolute;
      left: 700px;
      width: 500px;
      display: flex;
      align-items: flex-start;
    }

    .fig-tabindex {
      flex: 1;
      min-width: 0;
    }

    .fig-formlabel {
      display: flex;
      align-items: center;
      padding: 6px 10px;
      min-height: 40px;
      background: #f5f5f5;
      border-radius: 8px;
    }

    .fig-searchimage {
      font-size: 20px;
      width: 20px;
      height: 20px;
      margin-right: 12px;
      color: #a5a5a5;
      fill: currentColor;
      display: inline-block;
    }

    .fig-instant {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      border: 0;
      clip: rect(0, 0, 0, 0);
    }

    .fig-forminput {
      flex: 1;
      width: 0;
      min-width: 0;
      height: 100%;
      font-size: 15px;
      line-height: 18px;
      color: #141414;
      caret-color: #2D7868;
    }

    /* 로그인 회원가입 */
    .fig-join {
      display: flex;
      align-items: center;
      position: relative;
    }

    .fig-signup,
    .fig-login {
      padding: 11px 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #2D7868;
    }

    /* header 구분선 */
    .fig-hr{
      display: block;
      width: 100%;
      height: 1px;
      box-sizing: border-box;
      border: none;
      background: #f0f0f0;
      margin-top: 5px;
    }

  /* Rigrid Components */
  .rigrid-1eern24 *,
  .rigrid-1eern24 *::before,
  .rigrid-1eern24 *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    letter-spacing: -0.01em;
  }

  .rigrid-79elbk {
    position: relative;
  }

  .rigrid-1iikmpa {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto hidden;
    scrollbar-width: none;
  }

  .rigrid-abqlil,
  .rigrid-3297jm {
    flex: 0 0 auto;
    width: 1px;
    margin-left: -1px;
  }

  .rigrid-lby2xw {
    display: flex;
    flex: 1 0 auto;
  }

  .rigrid-1r87qo0 {
    position: relative;
    height: 48px;
    display: flex;
    width: 100%;
    padding: 0 8px;
  }

  .rigrid-1r87qo0::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2D7868;
  }

  .rigrid-1yictku {
    font-size: 15px;
    color: #141414;
    font-weight: 700;
    height: 100%;
  }

  .rigrid-1x2e8r3 {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: #141414;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
  }

  .rigrid-g1be25 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    gap: 4px;
  }

  .rigrid-vq4mjc {
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -0.01em;
  }

  .rigrid-1qjt6xy {
    display: inline-flex;
    overflow: hidden;
    width: 0;
    color: transparent;
  }

  /* Responsive */
  @media (max-width: 767px) {
    .fig-1elmr86 {
      width: 100%;
      padding: 0 9px;
    }

    .fig-1fij2xg {
      padding-top: 18px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .rigrid-1r87qo0 {
      padding: 0 8px;
    }

    .rigrid-1yictku {
      font-size: 15px;
    }
  }
  
.main[_ngcontent-ng-c3291395657] {
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 767px) {
    .main[_ngcontent-ng-c3291395657] {
        margin-top: 0;
    }
}

.items[_ngcontent-ng-c3291395657] {
    width: 100%;
    flex-grow: 1;
    margin-top: 1.25em;
    min-height: calc(100vh - 196px);
}

@media (max-width: 767px) {
    .items[_ngcontent-ng-c3291395657] {
        margin: 0;
        min-height: calc(100vh - 252px);
    }
}


/* Layout */
element.style {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

[_nghost-ng-c2831665569] {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  max-width: 100%;
}

/* Book Card */
.book[_ngcontent-ng-c2831665569] {
    width: 100%;
    --sui-book-bg-box-width: 270px;
    --sui-book-bg-box-height: 465px;
    --sui-book-cover-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

@media (max-width: 1199px) {
    .book[_ngcontent-ng-c2831665569] {
        width: 100%;
        --sui-book-bg-box-height: 450px;
        --sui-book-cover-width: 130px;
    }
}


.book[_ngcontent-ng-c2831665569] sui-book[_ngcontent-ng-c2831665569] .sui-book__cover-container,
.book[_ngcontent-ng-c2831665569] sui-book[_ngcontent-ng-c2831665569] sui-book-title[_ngcontent-ng-c2831665569],
.book[_ngcontent-ng-c2831665569] sui-book[_ngcontent-ng-c2831665569] sui-book-author[_ngcontent-ng-c2831665569] {
    cursor: pointer;
}

.sui-book {
    display: inline-block;
    overflow: hidden;
    color: #282828;
}

.sui-book__box {
  background: #fff6;
  position: relative;
  width: var(--sui-book-bg-box-width);
  height: var(--sui-book-bg-box-height); /* 500px 고정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* 위/아래 요소를 공간 최대한 활용해 분배 */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);;
}
.sui-book__inform-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px; 
  padding: 8px;
  height: 145px;
  width: 100%;
  margin: 0 10px;
}
.sui-book__cover-container {
    display: block;
    width: auto;
    position: relative;
}

.labeling{
  margin-bottom: 20px;
}

.sui-book__cover-box {
    display: block;
    width: 100%;
    height: 320px;
    display: flex;
    position: relative;
    background: #f0f0f0;
    align-items: center;
    justify-content: center;
}

.sui-book-cover {
    display: block;
    width: var(--sui-book-cover-width);
    height: 220px;
    max-height: calc(1.4943820225 * var(--sui-book-cover-width));
    box-shadow: 0 4px 4px #2828281a;
    margin: 0 auto;
    border-radius: 7px;
}

.bookmarkBtn {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}
.bookmarkBtn i {
  transition: opacity 0.3s ease;
}

.bookmarkBtn i.fading-out {
  opacity: 0;
}
.fa-bookmark {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #2d7868;
}
.fa-brands:before, .fa-regular:before, .fa-solid:before, .fa:before, .fab:before, .far:before, .fas:before {
    content: var(--fa);
}

.sui-book__tags {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

.sui-book__tail-tags {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-top-right-radius: 10px;
}

.sui-book__tail-tags .sui-book__tail-tags-tail {
  position: absolute; 
  bottom: 100%; 
  left: 0;
}

.sui-book__tail-tags .sui-book__tail-tags-tail:first-child {
  display: none;
}

/* 제목 최소 높이 지정 */
sui-book-title {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 48px;
  line-height: 24px;
  overflow: hidden;
}

sui-book-author {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
sui-book-genre, sui-book-rating {
    font-size: 14px;
    line-height: 18px;
    color:#636363
}

sui-book-rating{
  text-align: right;
}

@media (max-width: 1199px) {
    sui-book-title,
    sui-book-author {
        max-width: 200px;
        margin-left: 15px;
    }
    sui-book-genre, sui-book-rating {
        max-width: 200px;
        margin-right: 15px;
    }
}

/* Pricing */
.pricing[_ngcontent-ng-c2831665569] {
    margin-top: 15px;
    display: flex;
    gap: 0 12px;
}

.ng-star-bookmark, .ng-star-reply {
  display: flex; /* flex로 설정 */
  align-items: center; /* 세로 가운데 정렬 */
  min-width: 40px;
  height: 30px;
  padding: 0 6px;
  border-radius: 8px;
  background-color: white;
  border: 1.5px solid #2D7868;
  font-size: 10px;
}


.ng-star-bookmark span, .ng-star-reply span{font-size: 14px; font-weight: 600; color: black}

@media (max-width: 1199px) {
    .pricing[_ngcontent-ng-c2831665569] {
        display: flex;
        align-items: center; /* 세로 가운데 정렬 */
        justify-content: center;
        gap: 0 10px;
        max-width: 236px;
        margin-top: 20px;
    }
}

.price[_ngcontent-ng-c2831665569] {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 4px;
}

@media (max-width: 1199px) {
    .price[_ngcontent-ng-c2831665569] {
        flex-direction: column;
        align-items: center;
        gap: 5px 0;
    }

    .price[_ngcontent-ng-c2831665569] span:nth-child(1) {
        min-width: 44px;
        margin-right: 0;
        font-size: 15px;
    }

    .price[_ngcontent-ng-c2831665569] span:nth-child(2) {
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: -0.02em;
        align-items: center; /* 세로 가운데 정렬 */
    }
}

.price[_ngcontent-ng-c2831665569] span:nth-child(1) {line-height: 24px; text-align: center;}
.price[_ngcontent-ng-c2831665569] span:nth-child(1) div {font-size: 10px; line-height: 24px; text-align: center;}
.price[_ngcontent-ng-c2831665569] span:nth-child(2) {font-size: 14px; color: #282828; font-weight: 700;}


    /* 하단라벨링 */
    .flex:not(.flex-dir-column).flex-h-center, .flex.flex-dir-row.flex-h-center {justify-content: center;}
    @media (max-width: 767px) {
        .flex-h-center[_ngcontent-ng-c2831665569] {
            left: calc(50% - 74px);
        }
    }
    .flex-h-center[_ngcontent-ng-c2831665569] {
        display: flex;
        margin-bottom: 20px;
    }
    .flex:not(.flex-dir-column), .flex.flex-dir-row {
        flex-direction: row;
    }
    [_nghost-ng-c522025578] {
        display: inline-flex
    ;
        align-items: center;
        line-height: 1;
    }
    .numbers-pager[_ngcontent-ng-c522025578] {margin: 0 .5em; flex-shrink: 0;}
    .numbers[_ngcontent-ng-c522025578], .numbers-pager[_ngcontent-ng-c522025578] {display: inline-block; margin: 0 10px 0 10px; color: #ccc;}
    .numbers-pager[_ngcontent-ng-c522025578] button[disabled][_ngcontent-ng-c522025578] {color: #383838;}
    .numbers-pager[_ngcontent-ng-c522025578] button[_ngcontent-ng-c522025578] {width: 24px; padding: 12px 0; font-size: 12px;}
    button[disabled] {
        cursor: default;
    }
    @media (max-width: 1199px) {
        [_nghost-ng-c1936088117] {
            font-size: 26px;
        }
    }
    [_nghost-ng-c1936088117] {
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;
        background: transparent;
        color: inherit;
        font: inherit;
        line-height: normal;
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
        -webkit-appearance: none;
        cursor: pointer;
        line-height: 0;
        font-size: 30px;
    }
    button {cursor: pointer;}
    svg{width: 24; height: 24; fill: none;}
    svg:not(:root) {overflow-clip-margin: content-box; overflow: visible;}
    g{clip-path: url(#clip0_2830_122058);}
    mask{x: 0; y: 0; width: 24; height: 24;}

    g {mask: url(#mask0_2830_122058);}
    :not(svg) {transform-origin: 0px 0px;}

    rect {
        width: 24;
        height: 24;
        fill: white;
        transform: translate(24, 24) rotate(180deg);
    }
    .numbers-pager[_ngcontent-ng-c522025578] button[disabled][_ngcontent-ng-c522025578] {color: #ccc;}
    .numbers-pager[_ngcontent-ng-c522025578] button[_ngcontent-ng-c522025578] {width: 24px; padding: 12px 0; font-size: 12px;}
    button[disabled] {cursor: default;}
    @media (max-width: 1199px) {
        [_nghost-ng-c1936088117] {
            font-size: 26px;
        }
    }
    [_nghost-ng-c1936088117] {
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;
        background: transparent;
        color: inherit;
        font: inherit;
        line-height: normal;
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
        -webkit-appearance: none;
        cursor: pointer;
        line-height: 0;
        font-size: 30px;
    }

    .numbers[_ngcontent-ng-c522025578] a[_ngcontent-ng-c522025578] {margin: 0 5px; color: #ccc; font-size: 20px; cursor: pointer;}
    .numbers[_ngcontent-ng-c522025578] a.active[_ngcontent-ng-c522025578] {color: black;}
    .flex-h-center[_ngcontent-ng-c2831665569] {
      margin-top:50px;
    }

    [_nghost-ng-c3051396554] svg {
        width: 1.3em;
        height: 1.3em;
    }


.fig-14iy1hi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #141414;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}


.fig-zt3wi2 {height: 20px; margin-left: 20px; position: relative;}
@media (max-width: 767px) {
    .fig-zt3wi2:before {
        content: '';
        position: absolute;
        display: block;
        top: -8px;
        left: -8px;
        width: 40px;
        height: 40px;
        z-index: 1;
        background-color: transparent;
    }
}@media (max-width: 767px) {
    .fig-1yg99r9 {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0, 0, 0, 0);
    }
}
.rigrid-25isli1{
  font-weight: bold;
    font-size: 28px;
    line-height: 21px;
    color: #2D7868;
    display: block;
    margin: 10px 0px;
    min-width: 0px;
    overflow-wrap: break-word;
    text-align: center;
}
:not(#Ʌ):not(#Ʌ):not(#Ʌ) .rigrid-18zw5g6 {
    font-size: 28px;
    line-height: 21px;
    color: rgb(20, 20, 20);
    display: block;
    margin: 10px 0px;
    min-width: 0px;
    overflow-wrap: break-word;
    text-align: center;
}
</style>